{% extends "base.html" %}
{% load static %}

{% block scripts %}
  <script src="{% static 'modal_image.js' %}"></script>
{% endblock scripts %}

{% block title %}
  {{title}}
{% endblock title%}

{% block content %}

  {% autoescape off %}
    {{content}}
  {% endautoescape %}

  <br/>
  {% if themes_list %}
    <p>There are some doors in this hall. Above every of it you see some
    table: </p>
  {% else %}
    <p>There are no doors in this hall.</p>
  {% endif %}

  <ul>
    {% for theme in themes_list %}
      <li>
        <a href="{{page.permalink}}{{year.permalink}}{{theme.permalink}}">
          {{theme.nav_title}}</a>
      </li>
    {% endfor %}
  </ul>

  {% if images %}
    <p> There are some paintings in this hall. </p>
  {% else %}
    <p> There are no paintings in this hall. </p>
  {% endif %}

  <br/>

  {% include "gallery_images.html" %}

  {% include "modal_image.html" %}

{% endblock content%}

{% block aside %}
  {% for page in pages_list %}
    <li>
      <a href="{{ page.permalink }}">{{page.nav_title}}</a>
    </li>
    {% if page.title == "Gallery" %}
    <ul id = 'years_links'>
      {% for year in years_list %}
        <li>
          <a href="{{ page.permalink }}{{year.permalink}}">{{year.title}}</a>
        </li>
        {% if year.title == title%}
          <ul id = 'themes_list'>
            {% for theme in themes_list %}
            <li>
              <a href="{{page.permalink}}{{year.permalink}}{{theme.permalink}}">{{theme.nav_title}}</a>
            </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
  {% endfor %}
{% endblock aside %}
