@charset "utf-8";

/* Basic styles for page */

html {
  background: #0a0505;
  height: 100%;
}

body {
   background-color: #1a1313;
   margin-left: auto;
   margin-right: auto;
   max-width: 800px;
   min-height: 100%;
   font-family: Courier, "Courier New", "Lucida Console", Monaco, Arial;
   font-size: 16px;
   color: #f5e4d3;
}

/* Header style */

header > img {
  display: block;
  max-width: 800px;
  max-height: 200px;
}

/* Links style */

a:link, a:visited {
  color: #a17254;
  text-decoration: none;
}

a:hover, a:active {
  color: #c97238;
  text-decoration: none;
}

/* Unordered list style */
ul { list-style-type: none;}

/* Aside style */

body > aside {
	width: 160px;
  float: left;
  font-size: 18px;
  position: sticky;
  top: 0;
}

nav ul > li a {
  background-color: #0f0c09;
  display: block;
  padding: 10px 0 10px 30px;
}

nav ul > li a:hover, nav ul > li a:active {
  background-color: #140c02;
}

/* Sublists style */
ul > ul > li a {
  background-color: #3d1e00;
  font-size: 16px;
  padding: 5px 0 5px 40px;
}

nav ul > ul > li a:hover, nav ul > li a:active {
  background-color: #422100;
}

/* Subsublists style */

ul > ul > ul > li a {
  background-color: #4a2400;
  font-size: 16px;
  padding: 4px 0 4px 45px;
}

nav ul > ul > ul > li a:hover, nav ul > li a:active {
  background-color: #542900;
}

/* Main part common style */

div.main_part {
  margin-left: 160px;
  padding: 20px 20px 20px 30px;
}

div.main_part ul {
  padding: 5px 0 10px 20px;
}

div.main_part h1 {
  font-size: 1.2em;
  padding-bottom: 20px;
}

div.main_part p {
  padding-bottom: 15px;
}

/* Gallery images style */

div.gallery_image {
  display: grid;
  grid-template-columns: 300px auto;
  padding: 10px 0 10px 0;
}

div.gallery_image_file > img {
  max-width: 300px;
  max-height: 500px;
}

div.gallery_image > div.gallery_info > p {
  margin: 0px;
  padding: 10px 0 0 20px;
  font-size: 14px;
}

/* Image modal style */
div.gallery_image {
  cursor: pointer;
}

div.image_modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

img.image_modal_file {
  margin: auto;
  display: block;
  height: 90%;
}


div#image_modal_title, div#close_modal {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #f5e4d3;
  padding: 10px 0;
}

div#close_modal {
  cursor: pointer;
  color: #a17254;
  font-size: 16px;
}

div#close_modal:hover {
  color: #c97238;
}

/* Reviews text style */
div.review_div {
  background: #0a0505;
  margin: 20px 0 20px 0;
  padding: 30px;
  border-radius: 25px 25px 25px 0;
}

div.review_div p {
  font-style: italic;
}

div.review_div p.review_name {
  padding: 0 0 0 60px;
}

/* Review form */

table.review_input {
  text-align: left;
  margin: 30px 0 20px;
}

table.review_input  label {
  padding-right: 10px;
}

table.review_input textarea, table.review_input input {
  background: #0a0505;
  border-color: #4a2400;
  border-style: solid;
  resize: none;
  color: #a17254;
  font-style: italic;
  padding: 5px 10px;
}

table.review_input textarea:focus, table.review_input input:focus {
  outline: none;
  border-color: #a17254;
}

table.review_input input#review_submit {
  background: #4a2400;
  border: none;
  padding: 10px 20px;
  color: #a17254;
  margin: 10px 0 0 0;
  font-style: normal;
}

table.review_input input#review_submit:hover {
  background: #542900;
  color: #c97238;
}


/* Error popup style */

.field_to_fill {
  position: relative;
  display: inline-block;
}


.field_to_fill .errortext {
  width: 250px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1;
  font-size: 14px;
  color: #c97238;
  text-align: center;
  border-radius: 6px 6px 6px 0;
  padding: 3px;
  bottom: 45%;
  margin-left: 10px;
}


.field_to_fill .errortext::after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: -16px;
  border: 8px;
  border-style: solid;
  border-color: transparent rgba(0, 0, 0, 0.5) transparent transparent;
}

.errortext {
  -webkit-animation: fadeIn 0.3s;
  animation: fadeIn 0.3s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
