{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% block meta %}
    <meta name="description" content="RatInHat virtual gallery">
    <meta name="keywords" content="RatInHat, virtual gallery, art">
    {% endblock meta %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles_reset.css'%}">
    <link rel="stylesheet" href="{% static 'base.css'%}">
    {% block scripts %}
    {% endblock scripts %}
  </head>
  <body>
    <header>
      <a href="/"><img src="{% static 'banner.png' %}" id="banner_pic"
        alt="banner.png"></a>
    </header>
    <aside>
      <nav>
        <ul>
          {% block aside %}
          <li><a href="#">Item 1</a></li>
          <li><a href="#">Item 2</a></li>
          <li><a href="#">Item 3</a></li>
          {% endblock aside %}
        </ul>
      </nav>
    </aside>
    <div class="main_part">
      {% block content %} {% endblock content %}
    </div>
  </body>
</html>
