{% extends "base.html" %}

{% block title %}
  {{title}}
{% endblock title%}

{% block content %}
  {% autoescape off %}
    {{content}}
  {% endautoescape %}

  <br/>
  <br>

  {% if reviews %}
    <div class="reviews">
      <br/>
      {% for review in reviews %}
        <div class="review_div">
          <p class="review_text">{{review.review_text}}</p>
          <p class="review_name">{{review.name}}</p>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>There are no reviews yet.</p>
  {% endif %}

  <br/>

  <a href="{{permalink}}">Close the book.</a>

{% endblock content%}


{% block aside %}
  {% for page in pages_list %}
    <li>
      <a href="{{ page.permalink }}">{{page.nav_title}}</a>
    </li>
    {% if page.permalink == permalink %}
    <ul id = 'reviews_links'>
      {% for review_page in reviews_pages_list %}
        <li>
          <a href="{{permalink}}{{review_page.permalink}}">
            {{review_page.title}}</a>
        </li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endfor %}
{% endblock aside %}
